/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
.App-logo-paused {
  animation-play-state: paused;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
/* .page {
  margin: 20px;
}
.interactions {
  text-align: center;
}
.table {
  margin: 20px 0;
}
.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}
.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}
.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}
.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
} */
.tableContainer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  /* border: 1px solid #261e85; */
  padding-top: 0%;
  box-shadow: 2px 2px 10px 0 #cfcfd0;
  background-color: #cfcfd0;
  box-shadow: 2px 2px 10px 0 #cfcfd0;
}
.tableTitle {
  color: #fff;
  font-family: "system-ui";
  box-shadow: 2px 2px 10px 0 rgb(76, 76, 76);
  background-color: rgb(29, 30, 30);
  /* padding: 35px; */
  padding: 10px 10px 31px;
  margin-bottom: 1%;
  /* margin-top: 1%; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn {
  cursor: pointer;
  transition: 1.5s;
  /* width: 60px;
  height: 30px; */
  margin: 4px;
  height: 35px;
  size: sm;
  align-content: center;
  /* opacity: 60%; */
}

/* .btn,
.btn-danger,
.btn-success,
.btn-info :hover {
  cursor: pointer;
  resize: both;
} */

.btn-danger {
  background-color: red;
  color: #fff;
}
.btn-success {
  background-color: green;
  color: #fff;
}
.btn-info {
  float: left;
  background-color: primary;
  color: #fff;
}

.actions {
  width: 15%;
}
.textarea {
  width: 20%;
  /* font-size: 10px; */
}
.textareaFont {
  /* width: 20%; */
  font-size: 12px;
}
.App-logo-paused {
  animation-play-state: pausedÍ¾;
}
